.form-bm {
    background-color: #eee;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

input {
    width: 85%;
    height: 40px;
    border-radius: 10px;
}

.inp-color {
    background-color: aqua;
    margin: 20px;
}